name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - run: docker run --rm -v "$PWD:/gitbook" -p 4000:4000 billryan/gitbook gitbook init
      - run: |
          cd /home/runner/work/nelson-gitbook/nelson-gitbook
          docker run --rm -v "$PWD:/gitbook" -p 4000:4000 billryan/gitbook gitbook pdf .
      - run: mkdir /home/runner/work/nelson-gitbook/nelson-gitbook/artifacts
      - run: cp  /home/runner/work/nelson-gitbook/nelson-gitbook/*.pdf /home/runner/work/nelson-gitbook/nelson-gitbook/artifacts
      - uses: actions/upload-artifact@v1
        with:
          name: nelson-gitbook-github-action-artifacts
          path: artifacts/
